################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/final project/v17
/final_project/.vs/final_project
/final_project/bin/Debug/
/.vs/cis297final/v17
